@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');

.test {
    color: blue;
}

.panel1 {
    background-color: #FFAAFF;
    width: 250px;
    height: 200px;
    border-radius: 16px;
}

.center {
    padding-top: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.position {
    position: fixed;
    top: 10px;
    left: 600px;
}

.button{
    width: 150px;
    height: 100px;
    border-radius: 50px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4cap;
    position: fixed;
    top: 50px;
    left: 500px;
}

.info1 {
    background-color: darkseagreen;
    width: 300px;
    height: 270px;
    border-radius: 20px;

    position: fixed;
    top:500px;
    left: 50px;

    padding-top: 0rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.info2 {
    background-color: goldenrod;
    width: 250px;
    height: 300px;
    border-radius: 20px;

    position: fixed;
    top:300px;
    left: 650px;

    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.image {
    position: fixed;
    top: 100px;
    left: 100px;
}

.name {
    font-size: 24px;
    position: fixed;
    top: 300px;
    left: 110px;
}

.count {
    background-color: aliceblue;
    border-radius: 12px;
    width: 50px;
    height: 25px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 150px;
    left: 550px;
}

.info3 {
    background-color: bisque;
    width: 200px;
    height: 160px;
    border-radius: 10px;

    position: fixed;
    bottom: 50px;
    right: 200px;

    display: flex;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.info4 {
    background-color: coral;
    width: 300px;
    height: 250px;
    border-radius: 10px;

    position: fixed;
    top: 50px;
    right: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.link {
    font-size: 30px;
    font-family: "Lavishly Yours";
    background-color: indianred;
    border-radius: 37px;

    width: 200px;
    height: 75px;

    position: fixed;
    top: 800px;
    left: 600px;

    display: grid;
    align-items: center;
    justify-content: center;


}
